* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/others/oth-7/oth667.cur), auto !important;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  list-style: none;
}

h1,
h2 {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  font-weight: normal;
  font-size: 1rem;
}

h1 {
  top: 1.25rem;
  font-size: 1.125rem;
  text-align: center;
  font-weight: bold;
}

h2 {
  top: 3.125rem;
  text-align: center;
}

.marquee {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  max-width: 100%;
  height: 20px;
  font-weight: normal;
  overflow-x: hidden;
  font-size: 16px;
  z-index: 99;
}
.board {
  cursor: pointer;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 50s linear infinite;
}

p {
  display: inline-block;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.home-container {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  gap: 10px;
}

#home-input {
  width: 300px;
  height: 28px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid black;
  color: black;
  text-align: center;
  outline: none;
}

#home-button {
  height: 28px;
  padding: 5px 5px;
  transition: 0s;
  white-space: nowrap;
}
